@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-header {
  position: relative;
  /*max-width: 640px;
  width: 100%;*/
  width: 360px;
  height: 639px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 25px 20px 40px;*/
  padding: 31px 16px 40px;
  background-image: url(../images/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.page-header__top {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  color: rgb(255 255 255);
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list a {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
}

.menu__item {
  list-style: none;
}

.menu__item a:hover {
  text-decoration: underline;
}

.menu__toggle {
  display: block;
  width: 23px;
  height: 20px;  
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu__toggle::before, .menu__toggle::after {
  content:"";
  width: 100%;
  height: 15%;
  border-radius: 5px;
  background-color: #ffffff;  
  position: absolute;
  left: 0;
}

.menu__toggle::before {
  top: 1px;
}

.menu__toggle::after {
  bottom: 0;
}

.menu__toggle-icon {
  width: 100%;
  height: 15%;
  margin-top: -1px;  
  border-radius: 5px;
  background-color: #ffffff;  
  position: absolute;
  left: 0;
  top: 50%;
}

.logo--top {
  display: none;
}

.logo--center {
  position: relative;
  z-index: 2;
  display: block;
  margin: 67px auto 25px;
  box-sizing: border-box;
}

.page-title {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 0 14px 0 19px;
}

.trends,
.posts,
.sidebar {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: min(640px, 100%);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trends__title,
.sidebar__title {
  display: block;
  margin: 0 auto;
  padding: 40px 0 0 0;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgb(15, 13, 14);
  font-weight: 700;
  letter-spacing: 0.1px;
  text-align: center;
}

.trends__title::after,
.sidebar__title::after {
  content: "";
  display: block;
  margin: 10px auto 24px;
  width: 66px;
  height: 3px;
  background-color: rgba(181, 159, 91, 0.4);
}

.article--trend {
  position: relative;
  /*max-width: min(360px, 90vw);
  /* width: 100%; */
  width: 360px;
  height: 232px;
  /*
  overflow: hidden;
  margin-bottom: 2px;*/
  margin: 0 auto 2px;
}

.article--trend .article__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 100%;
}

.article--trend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
  
  .article--trend .article__container {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 35px);
  max-width: 335px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 25px 25px 25px 17px;
  box-sizing: border-box;
  z-index: 2;
}

.article__tags {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
  display: flex;
  white-space: nowrap;
  gap: 15px;
}

.article__tag {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  color: rgb(181, 159, 91);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.article__tag:hover {
  text-decoration: underline;
}

.article__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.article--trend .article__link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

.article__title:hover {
  color: #b59f5b;
}

.article--post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: min(360px, 100%);
  /*max-width: min(640px, 90vw);*/
  margin: 0 auto;
  margin-top: 42px;
}

.article--post:not(:first-child) {
  margin-top: 35px;
}

.article--post .article__image {
  padding: 0 16px;
  max-width: 100%;
  height: auto;
  object-fit: cover; 
  box-sizing: border-box;
}

.article--post .article__container {
  padding: 0 16px;
}

.article--post .article__tags {
padding: 8px 0;
gap: 18px;
}

.article--post .article__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.article__title:hover {
  color: #b59f5b;
}

.article--post .article__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.article__meta {
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.article__date {
  padding-left: 16px;
  font-size: 12px;
  color: rgb(136, 136, 136);
  margin: 0;
}

.author {
  padding-left: 12px;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.article__text {
  margin: 0;
  padding: 0 17px 0 16px;
  line-height: 1.4;
  color: rgb(15, 13, 14);
  font-size: 14px;
}

.article--post::after {
  content: "";
  display: block;
  margin-top: 22px;
  width: 100%;
  max-width: 330px;
  height: 3px;
  background-color: rgb(238, 238, 238);
}

.article--post p:not(.article__text) {
  margin: 0;
  padding: 0 16px;
  margin-top: 8px;
  line-height: 1.4;
  color: rgb(15, 13, 14);
  font-size: 14px;
}

.article--sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  max-width: min(360px, 100%);
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0 16px;
  box-sizing: border-box;
}

.sidebar__image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  flex-shrink: 0;
  background-color: #eff6f1;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
}

.sidebar__container .article__date {
color: rgba(0, 0, 0, 0.541);
padding: 0;
}

.sidebar__container a {
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar--forms {
  width: 100%;
  max-width: min(360px, 100%);
}

.search-form__input {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 50px 0 16px;
  border: none;
  outline: none;
  background-color: #f4f7f6;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 13px;
  align-items: center;
}

.search-form__input {
  outline: 1px solid #b59f5b;
}

.search-form__wrapper {
  position: relative;
  width: 100%;
}

.search-form__input {
  padding-right: 48px;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-form__button:hover {
  background-color: #323232;
}

.subscribe-form__button {
  width: 100%;
  margin-top: 17px;
  padding: 15px 80px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
}

/*

@media (min-width: 641px) and (orientation: landscape) {
      .trends {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 232px);
    gap: 2px;
  }
  
    .trends__title {
     grid-column: 1 /-1;
     text-align: center;
  }
}

  @media (min-width: 641px) {
    .page-header {
    max-width: min(1200px, 100%);
    background-image: url(../images/banner-bg-tablet.jpg);
    height: 392px;
  }
}
  
  @media (min-width: 1201px) {
    .page-header {
    width: 100vw;
    background-image: url(../images/banner-bg.jpg);
  }
}


/*
@media (min-width: 641px) and (orientation: landscape) {
      .trends {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 232px);
  }
  
    .trends__title {
     grid-column: 1 /-1;
     text-align: center;
  }
}

@media (min-width: 641px) and (orientation: portrait) {
  .page-header {
    max-width: 640px;
    padding: 40px 30px 0;
    display: block;
  }

    .page-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
  }

    .logo--top {
    display: block;
    width: 180px;
  }

  .logo--center {
    display: none;
  }

    .menu__list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu__item a {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .menu__item a:hover {
    text-decoration: underline;
  }

    .menu__toggle {
    display: none;
  }

    .page-title {
    max-width: 500px;
    font-size: 32px;
  }

    .trends {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
  
  .article--trend {
     width: calc(50% - 1px);
  }

  /*.menu__item {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

  .menu__item:hover {
  text-decoration: underline;
}
}

@media (min-width: 1200px) and (orientation: landscape) {
  .article--trend {
    width: calc(25% - 1px);
  }
}*/
